###### DataFrame 创建 读取
对应二维的表结构。
 <span class="mark">A dataframe is essentially a table with rows and columns.</span>
- DataFrame创建时可以指定行列名，columns列名，index行名。   
- 行列可以是不同的数据类型。   

可以从列表组成的字典创建，也可以从ndarray组成的字典创建。

df.shape 行列数  
df.ndim 维度

In [2]:
import pandas as pd

df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'],index=[1,0,2])

df

   a  b  c
1  1  2  3
0  4  5  6
2  7  8  9

In [142]:
# ----------  读取一个单元格  ----------
df['b'][0]
df.b[2]

# ----------  loc  ----------
# 读取一个单元格
df.loc[1]['b']
df.loc[1, 'b']
df.loc[1].b

# 读取一行多列
df.loc[1][['a', 'c']]
df.loc[1, ['a', 'c']]
df.loc[1]['a':'c']
df.loc[1, 'a':'c']

# 读取多行一列 ，行号不可以用切片。
df.loc[[0, 1]]['c']
df.loc[[0, 1], 'c']
df.loc[[0, 1]].b

# ----------  iloc  ----------
# 读取一个单元格
df.iloc[1]['c']
df.iloc[1].c
df.iloc[1][2]
df.iloc[1, 2]
# 以下不支持
# df.iloc[1,'c']

# 读取一行多列
df.iloc[1, 0:2]
df.iloc[1][0:2]
df.iloc[1, [0, 1]]
df.iloc[1][[0, 1]]
df.iloc[1]['a':'c']
# 以下不支持
# df.iloc[1,['a','c']]
# df.iloc[1,'a':'c']

# 读取多行一列
df.iloc[0:1, 1]
df.iloc[0:1]['c']
df.iloc[[0, 2], 2]
# 以下不支持
# df.iloc[:,'c']

1    3
2    9
Name: c, dtype: int64

In [129]:
# 拿到的数据类型不一样
print(type(df[['a']]))
print(type(df['a']))

# 取多列
print(df[['a','c']])

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
   a  c
1  1  3
0  4  6
2  7  9

In [164]:
# dataframe 似乎只是二维的？？
df2 = pd.DataFrame([[[1, 2], [3, 4], [5, 6]]])
print(df2.shape)
print(df2.ndim)
print(df2.size)
df2

(1, 3)
2
3

        0       1       2
0  [1, 2]  [3, 4]  [5, 6]

In [131]:
# df.T 行列互换
df.T

   1  0  2
a  1  4  7
b  2  5  8
c  3  6  9

###### df.loc与iloc区别
loc定位的是dataframe本身的index；iloc 按位置去取，第多少行。

In [149]:
print(df)
df.loc[0]

   a  b  c
1  1  2  3
0  4  5  6
2  7  8  9

a    4
b    5
c    6
Name: 0, dtype: int64

In [148]:
df.iloc[0]

a    1
b    2
c    3
Name: 1, dtype: int64

In [73]:
# 直接通过列号读取，不包括end
df.iloc[:,1:2]

   b
1  2
0  5
2  8

In [75]:
# loc 包括end
df.loc[:,'b':'c']

   b  c
1  2  3
0  5  6
2  8  9

###### DataFrame 按条件筛选

In [146]:
print(df)
df[df['c'] > 5]

   a  b  c
1  1  2  3
0  4  5  6
2  7  8  9

   a  b  c
0  4  5  6
2  7  8  9

###### DataFrame丢弃指定轴上的值

In [168]:
df2 = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'])
print(df2)
print(df2.drop(0))
print(df2.drop('b', axis=1))

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9
   a  b  c
1  4  5  6
2  7  8  9
   a  c
0  1  3
1  4  6
2  7  9

######  DataFrame 排序 和 汇总统计
df.sort_index(axis=1, ascending=False)  按index排序  
df.sort_values(by=['a'],ascending=False)  按值排序

In [183]:
print(df.sort_index())
print()
print(df.sort_index(axis=1, ascending=False))
print()
print(df.sort_values(by=['a','b'],ascending=False))

   a  b  c
0  4  5  6
1  1  2  3
2  7  8  9

   c  b  a
1  3  2  1
0  6  5  4
2  9  8  7

   a  b  c
2  7  8  9
0  4  5  6
1  1  2  3

In [192]:
print(df2)
df2.sum(axis=1)
df2.max(axis=1)
df2.mean()
# 使用describe进行统计
df2.describe()

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

         a    b    c
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

###### Series 
Series:带索引的一维数组，可以像字典一样通过索引访问。  
pandas.Series.values 返回ndarray类型的数据  
pandas.Series.index 返回索引值

In [14]:
s = pd.Series([1, 'abc', [], None])
s

0       1
1     abc
2      []
3    None
dtype: object

In [17]:
print(type(s.values))
s.values

<class 'numpy.ndarray'>

array([1, 'abc', list([]), None], dtype=object)

In [18]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [20]:
s.shape

(4,)

In [64]:
# serial遍历
ser = df.iloc[2]
print(ser, end='\n\n')

# 直接遍历，拿到value
for i in ser:
    print(i)

# 遍历keys，拿到索引
for i in ser.keys():
    print(i)

# 遍历items,拿到索引和数据元素
for i in ser.items():
    print(i)

a    7
b    8
c    9
Name: 2, dtype: int64

7
8
9
a
b
c
('a', 7)
('b', 8)
('c', 9)

###### df.rolling()   quantile()
quantile 样本分位数（百分位上的值）
- q : float or array-like, default 0.5 (50% quantile 即中位数-第2四分位数)  
0 <= q <= 1, the quantile(s) to compute

- axis : {0, 1, ‘index’, ‘columns’} (default  0)  
0 or ‘index’ for row-wise, 1 or ‘columns’ for column-wise

- interpolation（插值方法） : {‘linear’, ‘lower’, ‘higher’, ‘midpoint’, ‘nearest’}  

当选中的分为点位于两个数数据点 i and j 之间时:  
    linear: i + (j - i) * fraction, fraction由计算得到的pos的小数部分（可以通过下面一个例子来理解这个fraction）；  
    lower: i.  
    higher: j.  
    nearest: i or j whichever is nearest.  
    midpoint: (i + j) / 2.  
    
    
**rolling**  
olling()函数除了mean()，还支持很多函数，比如：  
count() 非空观测值数量  
sum() 值的总和  
median() 值的算术中值  
min() 最小值  
max() 最大  
std() 贝塞尔修正样本标准差  
var() 无偏方差  
skew() 样品偏斜度（三阶矩）  
kurt() 样品峰度（四阶矩）  
quantile() 样本分位数（百分位上的值）  
cov() 无偏协方差（二元）  
corr() 相关（二进制）  
借助 agg ()函数可以快速实现多个聚类函数，并输出结果，同时还可以进行重命名

In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(7, 4),
                  index=pd.date_range('1/1/2020', periods=7),
                  columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2020-01-01 -0.996342 -0.363682  1.153177 -0.916645
2020-01-02  0.496091 -0.418254 -1.489846 -0.602412
2020-01-03  0.620132  0.390234  0.374735 -0.021790
2020-01-04 -0.139881  0.998500  0.113272 -1.056277
2020-01-05 -0.095603  1.100106  0.628062  0.156176
2020-01-06  0.129116  1.537998  0.059351  0.435837
2020-01-07 -0.407311 -0.212661 -1.208436 -0.752958

In [4]:
df.rolling(window=3).mean()

                   A         B         C         D
2020-01-01       NaN       NaN       NaN       NaN
2020-01-02       NaN       NaN       NaN       NaN
2020-01-03  0.039961 -0.130567  0.012689 -0.513616
2020-01-04  0.325448  0.323493 -0.333946 -0.560160
2020-01-05  0.128216  0.829613  0.372023 -0.307297
2020-01-06 -0.035456  1.212201  0.266895 -0.154755
2020-01-07 -0.124599  0.808481 -0.173674 -0.053648

In [5]:
df.rolling(window=3,min_periods=1).mean()

                   A         B         C         D
2020-01-01 -0.996342 -0.363682  1.153177 -0.916645
2020-01-02 -0.250125 -0.390968 -0.168334 -0.759528
2020-01-03  0.039961 -0.130567  0.012689 -0.513616
2020-01-04  0.325448  0.323493 -0.333946 -0.560160
2020-01-05  0.128216  0.829613  0.372023 -0.307297
2020-01-06 -0.035456  1.212201  0.266895 -0.154755
2020-01-07 -0.124599  0.808481 -0.173674 -0.053648

In [10]:
df.rolling(window=3,min_periods=1).quantile(0.25)

                   A         B         C         D
2020-01-01 -0.996342 -0.363682  1.153177 -0.916645
2020-01-02 -0.623233 -0.404611 -0.829090 -0.838086
2020-01-03 -0.250125 -0.390968 -0.557556 -0.759528
2020-01-04  0.178105 -0.014010 -0.688287 -0.829345
2020-01-05 -0.117742  0.694367  0.244004 -0.539034
2020-01-06 -0.117742  1.049303  0.086312 -0.450050
2020-01-07 -0.251457  0.443722 -0.574542 -0.298391

###### 显示格式设置
pd.set_option('display.float_format', lambda x: '%.5f' % x)