# DataFrame 创建 读取
对应二维的表结构。
 <span class="mark">A dataframe is essentially a table with rows and columns.</span>
- DataFrame创建时可以指定行列名，columns列名，index行名。   
- 行列可以是不同的数据类型。   

可以从列表组成的字典创建，也可以从ndarray组成的字典创建。

df.shape 行列数  
df.ndim 维度

In [2]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'],index=[1,0,2])

df

   a  b  c
1  1  2  3
0  4  5  6
2  7  8  9

## df读取
DataFrame是以列作为操作的基础的，全部操作都想象成先从DataFrame里取一列，再从这个Series取元素即可。  
可以用datafrae.column_name选取列，也可以使用dataframe[]操作选取列

In [142]:
# ----------  读取一个单元格  ----------
df['b'][0]  # 访问特定的元素可以如Series一样使用下标或者是索引 
df.b[2]

# ----------  loc  ----------
# 读取一个单元格
df.loc[1]['b']
df.loc[1, 'b']
df.loc[1].b

# 读取一行多列
df.loc[1][['a', 'c']]
df.loc[1, ['a', 'c']]
df.loc[1]['a':'c']
df.loc[1, 'a':'c']

# 读取多行一列 ，行号不可以用切片。
df.loc[[0, 1]]['c']
df.loc[[0, 1], 'c']
df.loc[[0, 1]].b

# ----------  iloc  ----------
# 读取一个单元格
df.iloc[1]['c']
df.iloc[1].c
df.iloc[1][2]
df.iloc[1, 2]
# 以下不支持
# df.iloc[1,'c']

# 读取一行多列
df.iloc[1, 0:2]
df.iloc[1][0:2]
df.iloc[1, [0, 1]]
df.iloc[1][[0, 1]]
df.iloc[1]['a':'c']
# 以下不支持
# df.iloc[1,['a','c']]
# df.iloc[1,'a':'c']

# 读取多行一列
df.iloc[0:1, 1]
df.iloc[0:1]['c']
df.iloc[[0, 2], 2]
# 以下不支持
# df.iloc[:,'c']

1    3
2    9
Name: c, dtype: int64

In [129]:
# 拿到的数据类型不一样
print(type(df[['a']]))
print(type(df['a']))

# 取多列
print(df[['a','c']])

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
   a  c
1  1  3
0  4  6
2  7  9

In [4]:
# dataframe 似乎只是二维的？？
df2 = pd.DataFrame([[[1, 2], [3, 4], [5, 6]]])
print(df2)
print('------')
print(df2.shape)
print(df2.ndim)
print(df2.size)
print(len(df2))  # len为表格行数

        0       1       2
0  [1, 2]  [3, 4]  [5, 6]
------
(1, 3)
2
3
1

In [14]:
# df.values是ndarray
df.values

array([[ 0.,  0.,  0.,  0.,  0.],
       [ 1.,  2.,  3.,  4.,  5.],
       [ 2.,  4.,  6.,  8., 10.],
       [ 3.,  6.,  9., 12., 15.],
       [ 4.,  8., 12., 16., 20.]])

In [3]:
# df.T 行列互换
df.T

   1  0  2
a  1  4  7
b  2  5  8
c  3  6  9

选取行还可以使用切片的方式或者是布尔类型的向量

In [10]:
df[1:4]
bool_vec = [True, False, True]
df[bool_vec]

   a  b  c
1  1  2  3
2  7  8  9

行列组合起来选取数据：

In [22]:
print(df)
print(df.iloc[[0, 2]][['a', 'c']])
print(df[['a', 'c']].iloc[[0, 2]])
print(df.loc[[0, 2]][['a', 'c']])
print(df[['a', 'c']].loc[[0, 2]])

   a  b  c
1  1  2  3
0  4  5  6
2  7  8  9
   a  c
1  1  3
2  7  9
   a  c
1  1  3
2  7  9
   a  c
0  4  6
2  7  9
   a  c
0  4  6
2  7  9

如果不是需要访问特定行列，而只是某个特殊位置的元素的话，dataframe.at和dataframe.iat是最快的方式，它们分别用于使用索引和下标进行访问

In [25]:
print(df.at[0,'c'])
print(df.iat[0,2])

6
3

## df创建

In [23]:
d={'one':pd.Series([1.,2.,3.],index=['a','b','c']),
   'two':pd.Series([1.,2.,3.,4.,],index=['a','b','c','d']),
   'three':range(4),
   'four':1.,
   'five':'f'}
df3=pd.DataFrame(d)
print(df3)

   one  two  three  four five
a  1.0  1.0      0   1.0    f
b  2.0  2.0      1   1.0    f
c  3.0  3.0      2   1.0    f
d  NaN  4.0      3   1.0    f

DataFrame也可以从值是数组的字典创建，但是各个数组的长度需要相同：

In [34]:
d = {'one': [1., 2., 3., 4.], 'two': [4., 3., 2., 1.]}
df = pd.DataFrame(d, index=['a', 'b', 'c', 'd'])
print(df)

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

值非数组时，没有这一限制，并且缺失值补成NaN

In [35]:
d= [{'a': 1.6, 'b': 2}, {'a': 3, 'b': 6, 'c': 9}]
df = pd.DataFrame(d)
print(df)

     a  b    c
0  1.6  2  NaN
1  3.0  6  9.0

在实际处理数据时，有时需要创建一个空的DataFrame，可以这么做

In [37]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

另一种创建DataFrame的方法十分有用，那就是使用concat函数基于Series或者DataFrame创建一个DataFrame

In [39]:
a = Series(range(5))   #range(5)产生0到4
b = Series(np.linspace(4, 20, 5)) #linspace(a,b,c)
df = pd.concat([a, b], axis=1)
print (df)

   0     1
0  0   4.0
1  1   8.0
2  2  12.0
3  3  16.0
4  4  20.0

# df.loc与iloc区别
loc定位的是dataframe本身的index；iloc 按位置去取，第多少行。

In [149]:
print(df)
df.loc[0]

   a  b  c
1  1  2  3
0  4  5  6
2  7  8  9

a    4
b    5
c    6
Name: 0, dtype: int64

In [148]:
df.iloc[0]

a    1
b    2
c    3
Name: 1, dtype: int64

In [73]:
# 直接通过列号读取，不包括end
df.iloc[:,1:2]

   b
1  2
0  5
2  8

In [75]:
# loc 包括end
df.loc[:,'b':'c']

   b  c
1  2  3
0  5  6
2  8  9

# DataFrame 按条件筛选

In [146]:
print(df)
df[df['c'] > 5]

   a  b  c
1  1  2  3
0  4  5  6
2  7  8  9

   a  b  c
0  4  5  6
2  7  8  9

# DataFrame丢弃指定轴上的值

In [168]:
df2 = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'])
print(df2)
print(df2.drop(0))
print(df2.drop('b', axis=1))

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9
   a  b  c
1  4  5  6
2  7  8  9
   a  c
0  1  3
1  4  6
2  7  9

#  DataFrame 排序 和 汇总统计
df.sort_index(axis=1, ascending=False)  按index排序  
df.sort_values(by=['a'],ascending=False)  按值排序

In [183]:
print(df.sort_index())
print()
print(df.sort_index(axis=1, ascending=False))
print()
print(df.sort_values(by=['a','b'],ascending=False))

   a  b  c
0  4  5  6
1  1  2  3
2  7  8  9

   c  b  a
1  3  2  1
0  6  5  4
2  9  8  7

   a  b  c
2  7  8  9
0  4  5  6
1  1  2  3

In [192]:
print(df2)
df2.sum(axis=1)
df2.max(axis=1)
df2.mean()
# 使用describe进行统计
df2.describe()

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

         a    b    c
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

# Series 
Series:带索引的一维数组，可以像字典一样通过索引访问。  
pandas.Series.values 返回ndarray类型的数据  
pandas.Series.index 返回索引值

In [14]:
s = pd.Series([1, 'abc', [], None])
s

0       1
1     abc
2      []
3    None
dtype: object

In [17]:
print(type(s.values))
s.values

<class 'numpy.ndarray'>

array([1, 'abc', list([]), None], dtype=object)

In [18]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [20]:
s.shape

(4,)

In [64]:
# serial遍历
ser = df.iloc[2]
print(ser, end='\n\n')

# 直接遍历，拿到value
for i in ser:
    print(i)

# 遍历keys，拿到索引
for i in ser.keys():
    print(i)

# 遍历items,拿到索引和数据元素
for i in ser.items():
    print(i)

a    7
b    8
c    9
Name: 2, dtype: int64

7
8
9
a
b
c
('a', 7)
('b', 8)
('c', 9)

In [18]:
import numpy as np
s= pd.Series(np.random.randn(5),index=['a','b','c','d','e'])
s

a    0.474333
b    0.390072
c    0.909928
d    1.037165
e   -0.486786
dtype: float64

通过dict创建Series，或者指定index

In [20]:
stocks={'中国平安':'601318','格力电器':'000651','招商银行':'600036',
        '中信证券':'600030','贵州茅台':'600519'}
Series_stocks = pd.Series(stocks)
print (Series_stocks)
print()

tmp1 = pd.Series(stocks, index=['中国平安', '格力电器', '招商银行', '中信证券',
                       '工业富联'])
print(tmp1)
print()

Series_stocks.name='股票代码'        #注意python是使用.号来连接和调用
Series_stocks.index.name='股票名称'
print(Series_stocks)

中国平安    601318
格力电器    000651
招商银行    600036
中信证券    600030
贵州茅台    600519
dtype: object

中国平安    601318
格力电器    000651
招商银行    600036
中信证券    600030
工业富联       NaN
dtype: object

股票名称
中国平安    601318
格力电器    000651
招商银行    600036
中信证券    600030
贵州茅台    600519
Name: 股票代码, dtype: object

Series取某些行

In [ ]:
np.random.seed(3)
data=np.random.randn(5)
s = pd.Series(data,index=['a', 'b', 'c', 'd', 'e'])
print(s)
print(s[:2])
print(s[[2,0,4]])
print(s[['e', 'a']])

# Series排序
s.sort_index 按索引排序  
s.sort_values 按值排序  
s.idxmax()  返回含有最大值的索引位置    
s.idxmin()  返回含有最小值的索引位置

In [22]:
from pandas import Series

np.random.seed(3)
data=np.random.randn(10)
s = Series(data,index=['j','a', 'c','b', 'd', 'e','h','f','g','i'])
print(s)
print(s.sort_index(ascending=True))
print(s.sort_values(ascending=True))
print(s.rank(method='average',ascending=True,axis=0)) #每个数的平均排名
#返回含有最大值的索引位置：
print(s.idxmax())
#返回含有最小值的索引位置：
print(s.idxmin())

j    1.788628
a    0.436510
c    0.096497
b   -1.863493
d   -0.277388
e   -0.354759
h   -0.082741
f   -0.627001
g   -0.043818
i   -0.477218
dtype: float64
a    0.436510
b   -1.863493
c    0.096497
d   -0.277388
e   -0.354759
f   -0.627001
g   -0.043818
h   -0.082741
i   -0.477218
j    1.788628
dtype: float64
b   -1.863493
f   -0.627001
i   -0.477218
e   -0.354759
d   -0.277388
h   -0.082741
g   -0.043818
c    0.096497
a    0.436510
j    1.788628
dtype: float64
j    10.0
a     9.0
c     8.0
b     1.0
d     5.0
e     4.0
h     6.0
f     2.0
g     7.0
i     3.0
dtype: float64
j
b

# df.rolling()   quantile()
quantile 样本分位数（百分位上的值）
- q : float or array-like, default 0.5 (50% quantile 即中位数-第2四分位数)  
0 <= q <= 1, the quantile(s) to compute

- axis : {0, 1, ‘index’, ‘columns’} (default  0)  
0 or ‘index’ for row-wise, 1 or ‘columns’ for column-wise

- interpolation（插值方法） : {‘linear’, ‘lower’, ‘higher’, ‘midpoint’, ‘nearest’}  

当选中的分为点位于两个数数据点 i and j 之间时:  
    linear: i + (j - i) * fraction, fraction由计算得到的pos的小数部分（可以通过下面一个例子来理解这个fraction）；  
    lower: i.  
    higher: j.  
    nearest: i or j whichever is nearest.  
    midpoint: (i + j) / 2.  
    
    
**rolling**  
rolling()函数除了mean()，还支持很多函数，比如：  
count() 非空观测值数量  
sum() 值的总和  
median() 值的算术中值  
min() 最小值  
max() 最大  
std() 贝塞尔修正样本标准差  
var() 无偏方差  
skew() 样品偏斜度（三阶矩）  
kurt() 样品峰度（四阶矩）  
quantile() 样本分位数（百分位上的值）  
cov() 无偏协方差（二元）  
corr() 相关（二进制）  
借助 agg ()函数可以快速实现多个聚类函数，并输出结果，同时还可以进行重命名

In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(7, 4),
                  index=pd.date_range('1/1/2020', periods=7),
                  columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2020-01-01 -0.996342 -0.363682  1.153177 -0.916645
2020-01-02  0.496091 -0.418254 -1.489846 -0.602412
2020-01-03  0.620132  0.390234  0.374735 -0.021790
2020-01-04 -0.139881  0.998500  0.113272 -1.056277
2020-01-05 -0.095603  1.100106  0.628062  0.156176
2020-01-06  0.129116  1.537998  0.059351  0.435837
2020-01-07 -0.407311 -0.212661 -1.208436 -0.752958

In [4]:
df.rolling(window=3).mean()

                   A         B         C         D
2020-01-01       NaN       NaN       NaN       NaN
2020-01-02       NaN       NaN       NaN       NaN
2020-01-03  0.039961 -0.130567  0.012689 -0.513616
2020-01-04  0.325448  0.323493 -0.333946 -0.560160
2020-01-05  0.128216  0.829613  0.372023 -0.307297
2020-01-06 -0.035456  1.212201  0.266895 -0.154755
2020-01-07 -0.124599  0.808481 -0.173674 -0.053648

In [5]:
df.rolling(window=3,min_periods=1).mean()

                   A         B         C         D
2020-01-01 -0.996342 -0.363682  1.153177 -0.916645
2020-01-02 -0.250125 -0.390968 -0.168334 -0.759528
2020-01-03  0.039961 -0.130567  0.012689 -0.513616
2020-01-04  0.325448  0.323493 -0.333946 -0.560160
2020-01-05  0.128216  0.829613  0.372023 -0.307297
2020-01-06 -0.035456  1.212201  0.266895 -0.154755
2020-01-07 -0.124599  0.808481 -0.173674 -0.053648

In [10]:
df.rolling(window=3,min_periods=1).quantile(0.25)

                   A         B         C         D
2020-01-01 -0.996342 -0.363682  1.153177 -0.916645
2020-01-02 -0.623233 -0.404611 -0.829090 -0.838086
2020-01-03 -0.250125 -0.390968 -0.557556 -0.759528
2020-01-04  0.178105 -0.014010 -0.688287 -0.829345
2020-01-05 -0.117742  0.694367  0.244004 -0.539034
2020-01-06 -0.117742  1.049303  0.086312 -0.450050
2020-01-07 -0.251457  0.443722 -0.574542 -0.298391

# df.expanding
expanding即为取从头至今的数据。后面可以接各类计算函数

# 显示格式设置
pd.set_option('display.float_format', lambda x: '%.5f' % x)  
pd.set_option(列名, False)  # 当列太多时显示完整

## dataframe显示完整数据
pd.set_option('expand_frame_repr', False)  # 当列太多时不换行  
pd.set_option('display.max_rows', 5000)  # 最多显示数据的行数

## df列名不能对齐  
#这两个参数的默认设置都是False  
pd.set_option('display.unicode.ambiguous_as_wide', True)  
pd.set_option('display.unicode.east_asian_width', True)

# df计算

## 计算涨跌幅
df['涨跌幅'] = df['收盘价'].pct_change(1)  # 计算当前元素与先前n 个元素的相差百分比

## 累乘
df[列名].cumprod()

# df整列操作

**str**  
print(df['列名'].str.upper())  # 加上str之后可以使用常见的字符串函数对整列进行操作  
print(df['列名'].str.lower())  
print(df['列名'].str[:2])  
print(df['列名'].str.len())  # 计算字符串的长度,length  
df['列名'].str.strip()  # strip操作，把字符串两边的空格去掉  
print(df['列名'].str.contains('767'))  # 判断字符串中是否包含某些特定字符  
print(df['列名'].str.replace('sz', 'sh'))  # 进行替换，将sz替换成sh  

**dt**  
print(df['列名'].dt.year)  # 输出这个日期的年份。相应的month是月份，day是天数，还有hour, minute, second  
print(df['列名'].dt.week)  # 这一天是一年当中的第几周  
print(df['列名'].dt.dayofyear)  # 这一天是一年当中的第几天  
print(df['列名'].dt.dayofweek)  # 这一天是这一周当中的第几天，0代表星期一  
print(df['列名'].dt.weekday)  # 和上面函数相同，更加常用  
print(df['列名'].dt.day_name)  # 和上面函数相同，返回的是星期几的英文，用于报表的制作。  
print(df['列名'].dt.days_in_month)  # 这一天所在月份有多少天  
print(df['列名'].dt.is_month_end)  # 这一天是否是该月的开头，是否存在is_month_end？  
print(df['列名'] + pd.Timedelta(days=1))  # 增加一天，Timedelta用于表示时间差数据，[weeks, days, hours, minutes, seconds, milliseconds, microseconds, nanoseconds]  
print((df['列名'] + pd.Timedelta(days=1)) - df['列名'])  # 增加一天然后再减去今天的日期

# 数据追加合并 df.append
https://www.gairuo.com/p/pandas-append  
也可以追加Series

In [94]:
#增加1行数据：Append()
df = pd.DataFrame(np.random.randn(3, 3), columns=['A','B','C'])
print(df)

s=pd.Series([1.,1,1],index=list('ABC'))
print(df.append(s,ignore_index=True))

          A         B         C
0 -0.663534 -0.433736 -0.445244
1 -0.141959  0.452401 -0.309463
2  0.090797  0.270267 -0.314492
          A         B         C
0 -0.663534 -0.433736 -0.445244
1 -0.141959  0.452401 -0.309463
2  0.090797  0.270267 -0.314492
3  1.000000  1.000000  1.000000

# pd.concat 合并

In [7]:
df = pd.DataFrame()
index = ['alpha', 'beta', 'gamma', 'delta', 'eta']
for i in range(5):
    a = pd.DataFrame([np.linspace(i, 5*i, 5)], index=[index[i]])
    df = pd.concat([df, a], axis=0)
print (df)

         0    1     2     3     4
alpha  0.0  0.0   0.0   0.0   0.0
beta   1.0  2.0   3.0   4.0   5.0
gamma  2.0  4.0   6.0   8.0  10.0
delta  3.0  6.0   9.0  12.0  15.0
eta    4.0  8.0  12.0  16.0  20.0

# merge 左右拼接 
- 其中concat主要是根据索引进行行或列的拼接，只能取行或列的交集或并集。  
- merge主要是根据共同列或者索引进行合并，可以取内连接，左连接、右连接、外连接等。  

设置left_index=True, right_index=True)以后，两个表按照索引进行拼接

In [89]:
d1=pd.DataFrame(np.random.randn(3,3),columns=list('ABC'),index=[1,2,3])
print(d1)
d2=pd.DataFrame(np.random.randn(3,3),columns=list('DEF'))
print(d2)
print(pd.merge(d1,d2,left_index=True, right_index=True))

          A         B         C
1  0.353531 -0.643337 -0.047237
2 -1.449040 -0.036190 -0.090847
3  0.176290  1.094620 -2.126475
          D         E         F
0  0.751449 -0.540607  0.793222
1  0.173653 -1.035434  0.874268
2 -0.739572  0.522945 -0.591876
          A         B         C         D         E         F
1  0.353531 -0.643337 -0.047237  0.173653 -1.035434  0.874268
2 -1.449040 -0.036190 -0.090847 -0.739572  0.522945 -0.591876

# dataframe转元组列表

In [3]:
df = pd.DataFrame([[1,2,3,4],[5,6,7,8]],columns=['a','b','c','d'])
df

   a  b  c  d
0  1  2  3  4
1  5  6  7  8

In [13]:
ls = df.apply(lambda x:tuple(x),axis=1).values.tolist()
ls

[(1, 2, 3, 4), (5, 6, 7, 8)]

# 生成日期

In [25]:
pd.date_range('4/24/2011',periods=2,freq='3H')

DatetimeIndex(['2011-04-24 00:00:00', '2011-04-24 03:00:00'], dtype='datetime64[ns]', freq='3H')

# dataframe拷贝

In [39]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6]])
print(df)
df2 = df.copy()
df2.iloc[0, 0] = 100
print(df)
print(df2)

   0  1  2
0  1  2  3
1  4  5  6
   0  1  2
0  1  2  3
1  4  5  6
     0  1  2
0  100  2  3
1    4  5  6

似乎df.copy 和 copy.deepcopy 都不能解决嵌套数组的问题？

In [28]:
df=pd.DataFrame([[[1,2,3]],[[4,5,6]]])
print(df)
df_cp1 = df.copy(deep=True)
df_cp1.iloc[0, 0][1] = 100
print(df)
print(df_cp1)

           0
0  [1, 2, 3]
1  [4, 5, 6]
             0
0  [1, 100, 3]
1    [4, 5, 6]
             0
0  [1, 100, 3]
1    [4, 5, 6]

In [37]:
df=pd.DataFrame([[[1,2,3]],[[4,5,6]]])
print(df)
import copy
df_cp2=copy.deepcopy(df)
df_cp2.iloc[0, 0][1] = 100
print(df)
print(df_cp2)

           0
0  [1, 2, 3]
1  [4, 5, 6]
             0
0  [1, 100, 3]
1    [4, 5, 6]
             0
0  [1, 100, 3]
1    [4, 5, 6]

# 缺失值NaN
np.NaN  
df.dropna(how='any') 丢弃存在缺失值的行

In [48]:
#缺失值用NaN显示
date3=pd.date_range('20181001',periods=5)
np.random.seed(6)
data=np.random.randn(5,4)
df3=pd.DataFrame(data,index=date3,columns=list('ABCD'))
print(df3)
df3.iat[3,3]=np.NaN  #令第3行第3列的数为缺失值（0.129151）
df3.iat[1,2]=np.NaN  #令第1行第2列的数为缺失值（1.127064）
print(df3)

#丢弃存在缺失值的行
#设定how=all只会删除那些全是NaN的行：
print(df3.dropna(how='any'))

#删除列也一样，设置axis=1
print(df3.dropna(how='any',axis=1))

                   A         B         C         D
2018-10-01 -0.311784  0.729004  0.217821 -0.899092
2018-10-02 -2.486781  0.913252  1.127064 -1.514093
2018-10-03  1.639291 -0.429894  2.631281  0.601822
2018-10-04 -0.335882  1.237738  0.111128  0.129151
2018-10-05  0.076128 -0.155128  0.634225  0.810655
                   A         B         C         D
2018-10-01 -0.311784  0.729004  0.217821 -0.899092
2018-10-02 -2.486781  0.913252       NaN -1.514093
2018-10-03  1.639291 -0.429894  2.631281  0.601822
2018-10-04 -0.335882  1.237738  0.111128       NaN
2018-10-05  0.076128 -0.155128  0.634225  0.810655
                   A         B         C         D
2018-10-01 -0.311784  0.729004  0.217821 -0.899092
2018-10-03  1.639291 -0.429894  2.631281  0.601822
2018-10-05  0.076128 -0.155128  0.634225  0.810655
                   A         B
2018-10-01 -0.311784  0.729004
2018-10-02 -2.486781  0.913252
2018-10-03  1.639291 -0.429894
2018-10-04 -0.335882  1.237738
2018-10-05  0.076128 -0.155128

thresh参数,如thresh=4,一行中至少有4个非NaN值，否则删除

In [55]:
df3.iloc[1,1]=np.NaN
print(df3)
print(df3.dropna(thresh=3))

                   A         B         C         D
2018-10-01 -0.311784  0.729004  0.217821 -0.899092
2018-10-02 -2.486781       NaN       NaN -1.514093
2018-10-03  1.639291 -0.429894       NaN  0.601822
2018-10-04 -0.335882  1.237738  0.111128       NaN
2018-10-05  0.076128 -0.155128  0.634225  0.810655
                   A         B         C         D
2018-10-01 -0.311784  0.729004  0.217821 -0.899092
2018-10-03  1.639291 -0.429894       NaN  0.601822
2018-10-04 -0.335882  1.237738  0.111128       NaN
2018-10-05  0.076128 -0.155128  0.634225  0.810655

**fillna()**

- method参数的取值 ： {‘pad’, ‘ffill’,‘backfill’, ‘bfill’, None}, default None  
pad/ffill：用前一个非缺失值去填充该缺失值  
backfill/bfill：用下一个非缺失值填充该缺失值  
None：指定一个值去替换缺失值（缺省默认这种方式）  
- inplace=True 直接改变原对象

In [54]:
print(df3.fillna(method='ffill'))
print(df3.fillna(method='bfill'))
print(df3.fillna(10))

                   A         B         C         D
2018-10-01 -0.311784  0.729004  0.217821 -0.899092
2018-10-02 -2.486781  0.729004  0.217821 -1.514093
2018-10-03  1.639291 -0.429894  0.217821  0.601822
2018-10-04 -0.335882  1.237738  0.111128  0.601822
2018-10-05  0.076128 -0.155128  0.634225  0.810655
                   A         B         C         D
2018-10-01 -0.311784  0.729004  0.217821 -0.899092
2018-10-02 -2.486781 -0.429894  0.111128 -1.514093
2018-10-03  1.639291 -0.429894  0.111128  0.601822
2018-10-04 -0.335882  1.237738  0.111128  0.810655
2018-10-05  0.076128 -0.155128  0.634225  0.810655
                   A          B          C          D
2018-10-01 -0.311784   0.729004   0.217821  -0.899092
2018-10-02 -2.486781  10.000000  10.000000  -1.514093
2018-10-03  1.639291  -0.429894  10.000000   0.601822
2018-10-04 -0.335882   1.237738   0.111128  10.000000
2018-10-05  0.076128  -0.155128   0.634225   0.810655

# 累加/自定义函数
df.apply() 对df的行或者列应用某个方法，可以是lambda表达式的自定义方法

In [83]:
df3.fillna(10,inplace=True)
print(df3)
print(df3.apply(np.cumsum))
print(df3.apply(lambda x:x.max()-x.min()))

                   A          B          C          D
2018-10-01 -0.311784   0.729004   0.217821  -0.899092
2018-10-02 -2.486781  10.000000  10.000000  -1.514093
2018-10-03  1.639291  -0.429894  10.000000   0.601822
2018-10-04 -0.335882   1.237738   0.111128  10.000000
2018-10-05  0.076128  -0.155128   0.634225   0.810655
                   A          B          C         D
2018-10-01 -0.311784   0.729004   0.217821 -0.899092
2018-10-02 -2.798564  10.729004  10.217821 -2.413185
2018-10-03 -1.159273  10.299110  20.217821 -1.811363
2018-10-04 -1.495155  11.536848  20.328949  8.188637
2018-10-05 -1.419027  11.381720  20.963174  8.999292
A     4.126072
B    10.429894
C     9.888872
D    11.514093
dtype: float64

# 分组 groupby

In [128]:
df = pd.DataFrame({'A' : ['true', 'false', 'true', 'false',
                           'true', 'false', 'true', 'false'],
                    'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
print(df)

print(df.groupby(['A']).sum())  #以A列特征分类并加总
print(df.groupby(['A','B']).sum())

       A      B         C         D
0   true    one -1.486392  0.822813
1  false    one  0.611894  0.836475
2   true    two -0.269844 -1.378094
3  false  three  0.692493 -0.945429
4   true    two  0.961333  1.091286
5  false    two  0.315086  0.074098
6   true    one -1.014666  2.030760
7  false  three -1.222576  0.516895
              C         D
A
false  0.396897  0.482038
true  -1.809568  2.566765
                    C         D
A     B
false one    0.611894  0.836475
      three -0.530083 -0.428534
      two    0.315086  0.074098
true  one   -2.501058  2.853573
      two    0.691489 -0.286808

In [111]:
df = pd.DataFrame([['a', 'man', 120, 90],
                   ['b', 'woman', 130, 100],
                   ['a', 'man', 110, 108],
                   ['a', 'woman', 120, 118]], columns=['level', 'gender', 'math','chinese'])
print(df)
group = df.groupby(['gender'])

  level gender  math  chinese
0     a    man   120       90
1     b  woman   130      100
2     a    man   110      108
3     a  woman   120      118

In [115]:
# 组内求和
print(group.sum())

        math  chinese
gender
man      230      198
woman    250      218

In [116]:
# 组内成员数，每列都是一样的
print(group.count())

        level  math  chinese
gender
man         2     2        2
woman       2     2        2

In [117]:
# 组内均值
print(group.mean())

        math  chinese
gender
man      115       99
woman    125      109

In [118]:
# 组内中位数
print(group.median())

        math  chinese
gender
man      115       99
woman    125      109

In [119]:
# 组内最大值
print(group.max())

       level  math  chinese
gender
man        a   120      108
woman      b   130      118

In [120]:
# 组内最小值
print(group.min())

       level  math  chinese
gender
man        a   110       90
woman      a   120      100

In [121]:
# 组内数值列标准差
print(group.std())

            math    chinese
gender
man     7.071068  12.727922
woman   7.071068  12.727922

In [122]:
# 方差
print(group.var())

        math  chinese
gender
man       50      162
woman     50      162

In [123]:
# 利用agg可以同时应用多个方法
print(group.agg([np.mean,np.std]))

       math           chinese
       mean       std    mean        std
gender
man     115  7.071068      99  12.727922
woman   125  7.071068     109  12.727922

In [127]:
# agg方法，不同列用不同函数
print(group.agg({'math':np.mean,'chinese':np.std}))

        math    chinese
gender
man      115  12.727922
woman    125  12.727922

# 数据透视表
列vs.值

我认为pivot_table中一个令人困惑的地方是“columns（列）”和“values（值）”的使用。记住，变量“columns（列）”是可选的，它提供一种额外的方法来分割你所关心的实际值。然而，聚合函数aggfunc最后是被应用到了变量“values”中你所列举的项目上。

In [130]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                   'B' : ['A', 'B', 'C'] * 4,
                   'C' : ['foo', 'foo', 'foo', 'bar', 'bar',
                          'bar'] * 2,
                   'D' : np.random.randn(12),
                   'E' : np.random.randn(12)})
print(df)
print(pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C']))

        A  B    C         D         E
0     one  A  foo  1.136942  0.733364
1     one  B  foo  1.187058  0.966716
2     two  C  foo  1.690896 -0.935274
3   three  A  bar  0.490281 -0.878208
4     one  B  bar -1.445530 -0.455728
5     one  C  bar -0.743101  0.743076
6     two  A  foo -1.154044  0.193298
7   three  B  foo -0.257674 -0.971323
8     one  C  foo  1.376814  1.896872
9     one  A  bar -0.178981 -0.543304
10    two  B  bar -0.430630 -0.123795
11  three  C  bar  0.529072 -0.096579
C             bar       foo
A     B
one   A -0.178981  1.136942
      B -1.445530  1.187058
      C -0.743101  1.376814
three A  0.490281       NaN
      B       NaN -0.257674
      C  0.529072       NaN
two   A       NaN -1.154044
      B -0.430630       NaN
      C       NaN  1.690896

# 列改名df.rename

In [2]:
df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
df

   A  B
0  1  4
1  2  5
2  3  6

In [3]:
# 使用字典对列进行改名
df.rename(columns={"A": "a", "B": "d"})

   a  d
0  1  4
1  2  5
2  3  6

In [6]:
df.rename(index={0: "x", 1: "y", 2: "z"}, inplace=True)  #  inplace=True 直接在原来的df上进行修改
df

   A  B
x  1  4
y  2  5
z  3  6

In [7]:
# 可以使用axis参数，可以使用方法改名
df.rename(str.lower, axis="columns")

   a  b
x  1  4
y  2  5
z  3  6

In [13]:
df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
print(df.index)
df.rename(index=str, inplace=True)  # 使用方法改名
df.index

RangeIndex(start=0, stop=3, step=1)

Index(['0', '1', '2'], dtype='object')

# 重置索引

In [22]:
df = pd.DataFrame(np.random.randn(2, 3), index=['x', 'y'])
df

          0         1         2
x  0.361201 -0.370501 -0.577853
y  0.709322  0.683591  0.531937

不设置参数，原先的索引保存为一列

In [23]:
df2 = df.reset_index()
df2

  index         0         1         2
0     x  0.361201 -0.370501 -0.577853
1     y  0.709322  0.683591  0.531937

设置drop=True，原先的索引被删除

In [24]:
df3 = df.reset_index(drop=True)
df3

          0         1         2
0  0.361201 -0.370501 -0.577853
1  0.709322  0.683591  0.531937

In [30]:
df = pd.DataFrame({'month': [1, 4, 7, 10],
                   'year': [2012, 2014, 2013, 2014],
                   'sale': [55, 40, 84, 31]})
# 设置复合索引
df.set_index(['year', 'month'])

            sale
year month
2012 1        55
2014 4        40
2013 7        84
2014 10       31

# 差分diff
df.diff 等效于：df - df.shift(1)

In [3]:
df = pd.DataFrame(pd.Series([1, 2, 3, 6]))
print(df)
print(df.shift(1))
print(df - df.shift(1))
print(df.diff())

   0
0  1
1  2
2  3
3  6
     0
0  NaN
1  1.0
2  2.0
3  3.0
     0
0  NaN
1  1.0
2  1.0
3  3.0
     0
0  NaN
1  1.0
2  1.0
3  3.0

# pd.Categorical
pd.Categorical 对样本编码，nan赋值-1

In [3]:
c = pd.Categorical([1, 2, 3, 1, 2, 3, np.nan])
c

[1, 2, 3, 1, 2, 3, NaN]
Categories (3, int64): [1, 2, 3]

In [4]:
c.codes

array([ 0,  1,  2,  0,  1,  2, -1], dtype=int8)

# apply map applymap
map: 作用于 Series每个元素  
apply: 作用于DataFrame的每行或者每列  
applymap： 作用于DataFrame的每个元素